@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.home-container {
    width:100%;
    height: calc(100vh - 8.75rem);
    place-content: center;
    
  .main-title {
    @include font-averia;
    font-size: 3.75rem;
    justify-self: center;
    padding: 0;
    margin: 0;
    color: $white;
  }
}

