@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.about-container {
  height: 100svh;

  .about-title {
    @include font-bebas;
    text-align: center;
    font-size: 4.375rem;
    padding: 50 0;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
    width: 75%;
    justify-self: center;

    .vertical-line {
  height: auto;              /* height of the line */
  border-left: 4px solid;     /* required for border-image to work */
  border-image: linear-gradient(to bottom, rgb(243, 105, 31 ), rgba(97, 232, 151, 1)) 1;
}

.left-span{
  .profile{
    border-radius: 50%;
  }
}


    .right-span {

      .card-title {
        font-size: 1.875rem;
        @include font-bebas;
        color: $secondary-color;
        margin-bottom: 0.625rem;
      }

      .card-description {
        font-size: 1.25rem;
        @include jost-font;
      }
    }
  }

  .pop-up-btns{
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
    width: 100%;
    justify-content: center;
    height: auto;
    .pop-up-btn{
      height: 6.25rem;
      width: 6.25rem;
      background-color: black;
      border-radius: 50%;
      color: white;
      @include font-bebas;
      font-size: 1.25rem;
      cursor: pointer;
      
    }
  }
}
