@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.about-container {
  height: 100vh;
  align-content: center;

  .about-sub-container {
    width: fit-content;
    position: relative;
    padding: 3px;
    background: linear-gradient(
      90deg,
      rgba(97, 232, 151, 1),
      rgb(243, 105, 31)
    );
    border-radius: 0.9em;
    transition: all 0.4s ease;
    &:before {
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      border-radius: 0.9em;
      z-index: -10;
      filter: blur(0);
      transition: filter 0.4s ease;
    }

    &:hover::before {
      background: linear-gradient(
        90deg,
        rgba(97, 232, 151, 1),
        rgb(243, 105, 31)
      );
      filter: blur(1.2em);
    }
    &:active::before {
      filter: blur(0.2em);
    }
    .about-sub-sub-container {
      padding: 0.6em 0.8em;
      border-radius: 0.9em;
      border: none;
        background-color: white;
      cursor: pointer;
      //////
      display: flex;
      flex-direction: row;
      width: fit-content;
      justify-self: center;
      align-items: center;
      justify-content: center;
      gap: 6.25rem;

      .left-span {
        padding: 0;
        margin: 0;
        // border-right: solid 2px black;
      }

      .right-span {
        width: 37.5rem;
        .about-title {
            @include font-averia;
        //   @include caveat-font;
          color: $secondary-color;
          font-size: 2.5rem;
          margin-bottom: 1.25rem;
        //   font-weight: 500;
        }

        .about-me {
          @include montserrat-font-;
          font-size: 1.5625rem;
        }

        .stack-list {
          display: flex;
          flex-direction: row;
          overflow: hidden;
          margin: 1.25rem 0;

          .stack-items {
            display: flex;
            flex-direction: row;
            gap: 1.875rem;
            list-style: none;
          }
        }
      }
    }
  }
}
