@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.projects-container {
  height:100svh;
  .card-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;

    .card {
      width: 250px;
      padding: 1.5rem;
      border-radius: 20px;
      background-color: whitesmoke;
      text-align: center;
      transition: 0.3s ease;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

      h2 {
        font-size: 1.2rem;
        color: #222;
        margin: 0;
      }

      &:hover {
        background-color: #ffe87c;
        transform: translateY(-5px);
        cursor: pointer;
      }
    }
  }
}
