@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.projects-container {
  height: 100vh;
  @include gradient-bg(100%);
  .projects-title {
    @include font-averia;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 40 0;
}
}
