@use '../../styles//mixins' as *;
@use '../../styles/variables' as *;

.nav-bar {
  @include jost-font;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.8125rem;
  font-size: 1.25rem;
  position: sticky;
  height: 3.125rem;
  .menu {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1.25rem;
    align-items: center;
    border-radius: 1.875rem;

    a {
      list-style: none;
      text-decoration: none;
      color: $white;

      &:visited {
        text-decoration: none;
      }

      &:hover {
        color: rgb(255, 234, 188);
        // text-decoration: underline;
      }
    }
  }

  .lang-select {
    font-size: 1.25rem;
    border: none;
    padding: 0.75rem;
    border: none;
    color: black;
    // border-radius: 100px;
  }
}
