@use '../../styles//mixins' as *;
@use '../../styles/variables' as *;

.nav-bar {
  @include jost-font;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem;
  font-size: 1.25rem;
  // position: sticky;
  top:0;
  height: 3.125rem;
  @include gradient-bg(100%);

  .menu {
    @include glass-effect;
    padding: 1.25rem;

    display: flex;
    flex-direction: row;
    gap: 2.5rem;

    align-items: center;
    border-radius: 1.875rem;
    font-weight: bold;

    a {
      list-style: none;
      text-decoration: none;
      color: $white;

      &:visited {
        text-decoration: none;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .lang-select {
    font-size: 1.25rem;
    border: none;
    padding: 0.75rem;
    border: none;
    color: black;
    // border-radius: 100px;
  }
}
