@use '../../styles//mixins' as *;
@use '../../styles/variables' as *;

.nav-bar {
  @include jost-font;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem;
  font-size: 1.25rem;
  position: sticky;
  height: 3.125rem;
  @include gradient-bg(100%);

  .menu {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    background: rgba(158, 158, 158, 0.2);
    border-radius: 1rem;
    box-shadow: 0 .25rem 1.875rem rgba(0, 0, 0, 0);
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1px);
    border: .0625rem solid rgba(255, 255, 255, 0.3);
    padding: 1.25rem;
    align-items: center;
    border-radius: 1.875rem;
    font-weight:bold;

    a {
      list-style: none;
      text-decoration: none;
      color: $white;

      &:visited {
        text-decoration: none;
      }

      &:hover {
        color:$secondary-color;
      }
    }
  }

  .lang-select {
    font-size: 1.25rem;
    border: none;
    padding: .75rem;
    border: none;
    color: black;
    // border-radius: 100px;
  }
}
