@use '../styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Caveat+Brush&family=Comic+Relief:wght@400;700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Caveat+Brush&family=Comic+Relief:wght@400;700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@mixin jost-font {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-averia {
  font-family: 'Averia Libre', system-ui;
  font-weight: 400;
  font-style: normal;
  // color: $white;
}

@mixin caveat-font{
   font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}


@mixin montserrat-font- {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:lighter;
  // font-style: normal;
}

@mixin gradient-bg($opacity){
  background: #61e897;
  background: radial-gradient(
    circle,
    rgba(97, 232, 151, 1) 0%,
    rgb(243, 105, 31) 100%
  );
  opacity: $opacity;
}
