@use '../styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@mixin jost-font {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-bebas {
 font-family: "Bebas Neue", sans-serif;
  // font-weight: 400;
  font-style: normal;
}

@mixin gradient-bg($opacity) {
  background: #61e897;
  background: radial-gradient(
    circle,
    rgba(97, 232, 151, 1) 0%,
    rgb(243, 105, 31) 100%
  );
  opacity: $opacity;
}




@mixin glass-effect{
   background: rgba(158, 158, 158, 0.2);
    border-radius: 1rem;
    box-shadow: 0 .25rem 1.875rem rgba(0, 0, 0, 0);
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1px);
    border: .0625rem solid rgba(255, 255, 255, 0.3);
}

@mixin gradient-components{
    background: linear-gradient(
      -45deg,
      rgb(243, 105, 31 ) 0%,
      rgba(97, 232, 151, 1) 100%
    );
}